doctype html

head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    block title
    include base_meta.html
    include base_style.html

body
    include base_header.html
    block content
    include base_footer.html
    include base_scripts.html
